

.index-bg{
    background: #010012 url(../../png/stars.png);
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;
}

.sign-bg{
    background: linear-gradient(150deg, #190046 , #670a77 , #5f2669 , #8c00a5 , #9902b3b0, #9C27B0) ,url(../../png/circuit.png) , url(../../png/fone-end.png);
    background-position: center ;
    background-size: 100% 100%;
    background-attachment: fixed;
}

body{
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;
}

.animated-bg{
    animation: animate 10s ease infinite;
    animation-direction: alternate;
    animation-duration: 8s;
}

.bg-trans{
    background-color: #0000;
}

.navbar-dark .navbar-toggler{
    border: none;
}

button:focus , button:active{
    outline: none;
    border: none;
}

.navbar-toggler{
    color: #bbf32c !important;
    font-size: 33px;
    font-weight: 100;
    cursor: pointer;
}

.btn-pink{
    background: linear-gradient(113deg, #000, #fb51fb);
    color: white;
    padding: 12px 42px;
    border-radius: 34px;
    transition: all 1s ease-in-out;
}

.btn-pink:focus ,.btn-pink:active {
    background: #fb51fb;
}

.p-au{
    padding: 12px 42px;
    border-radius: 34px;
    border: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(67, 0, 84); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(97, 0, 130); 
  }

  .p-abs{
      position: absolute;
      top: 132px;
    right: 146px;
  }

  .gradient-btn {
   background: -webkit-linear-gradient(right,#fe998b00,#fa768d82,#e616e2);
}

.side-men li::before{
    content: '';
    display: inline-block;
    height: 25px;
    width: 25px;
    background: linear-gradient(45deg, #e11bf1, #df38ff29);
    border-radius: 50%;
    box-shadow: 0px 0px 16px 3px ;
    margin: 0 10px;
 }

.side-men img{
    width: 80px;
    padding: 10px;
}

 @keyframes animate{
        10% { background-size : 10% }11% { background-size : 11% }12% { background-size : 12% }13% { background-size : 13% }14% { background-size : 14% }15% { background-size : 15% }16% { background-size : 16% }17% { background-size : 17% }18% { background-size : 18% }19% { background-size : 19% }20% { background-size : 20% }21% { background-size : 21% }22% { background-size : 22% }23% { background-size : 23% }24% { background-size : 24% }25% { background-size : 25% }26% { background-size : 26% }27% { background-size : 27% }28% { background-size : 28% }29% { background-size : 29% }30% { background-size : 30% }31% { background-size : 31% }32% { background-size : 32% }33% { background-size : 33% }34% { background-size : 34% }35% { background-size : 35% }36% { background-size : 36% }37% { background-size : 37% }38% { background-size : 38% }39% { background-size : 39% }40% { background-size : 40% }41% { background-size : 41% }42% { background-size : 42% }43% { background-size : 43% }44% { background-size : 44% }45% { background-size : 45% }46% { background-size : 46% }47% { background-size : 47% }48% { background-size : 48% }49% { background-size : 49% }50% { background-size : 50% }51% { background-size : 51% }52% { background-size : 52% }53% { background-size : 53% }54% { background-size : 54% }55% { background-size : 55% }56% { background-size : 56% }57% { background-size : 57% }58% { background-size : 58% }59% { background-size : 59% }60% { background-size : 60% }61% { background-size : 61% }62% { background-size : 62% }63% { background-size : 63% }64% { background-size : 64% }65% { background-size : 65% }66% { background-size : 66% }67% { background-size : 67% }68% { background-size : 68% }69% { background-size : 69% }70% { background-size : 70% }71% { background-size : 71% }72% { background-size : 72% }73% { background-size : 73% }74% { background-size : 74% }75% { background-size : 75% }76% { background-size : 76% }77% { background-size : 77% }78% { background-size : 78% }79% { background-size : 79% }80% { background-size : 80% }81% { background-size : 81% }82% { background-size : 82% }83% { background-size : 83% }84% { background-size : 84% }85% { background-size : 85% }86% { background-size : 86% }87% { background-size : 87% }88% { background-size : 88% }89% { background-size : 89% }90% { background-size : 90% }91% { background-size : 91% }92% { background-size : 92% }93% { background-size : 93% }94% { background-size : 94% }95% { background-size : 95% }96% { background-size : 96% }97% { background-size : 97% }98% { background-size : 98% }99% { background-size : 99% }100% { background-size : 100% }

  }

.bg-black{
    background: #000;
}

.bg-black:hover{
    background: #0000;
    color: springgreen;
}

.text-yellow{
    color: #bbf32c;
}

.btn-hc>.btn:last-child:not(:first-child){
    border-top-right-radius: 34px ;
    border-bottom-right-radius: 34px ;
}

.btn-hc>.btn:first-child:not(:last-child):not(.dropdown-toggle){
    border-top-left-radius: 34px ;
    border-bottom-left-radius: 34px ;
}

.btn-hc>.btn:first-child:not(:last-child):not(.dropdown-toggle) , .btn-hc>.btn:last-child:not(:first-child){
    padding: 20px ;
}

a:focus , a:active{
    outline: none !important;
    box-shadow: none !important;
}

.muted-form input , .muted-form .muted-btn , .muted-form .file-control{
    background: #3330 !important;
    /* box-shadow: #ddd 1px 2px;  */
    box-shadow: none !important;
    outline: none !important;
    /* border-bottom: 1px solid #fff ; */
    color: #fff;
    
}

.muted-form input::placeholder{
    color: #fff;
}

.container-new{
    max-width: 100% !important;
}

.started {
    /* margin-bottom: -113px; */
    position: relative;
    top: 46px;
    left: -29px;
}

.started > button {
    padding: 20px;
}

.form-control{
    border: 1px solid #fff;
}

input:focus{
    color: #fff !important;
}

.muted-form select , .muted-form select:focus , .muted-form select:active {
    background-color: #0000;
    color: #fff;
}

.muted-form select option {
    background-color: #000000d6;
}

.muted-form select{
    outline: none !important;
    box-shadow: none !important ;
}

.abs{
    position: absolute;
}

img.abs{
    top: 99px;
    animation: rot 2s ease-in-out 0s infinite ;
}

a.gradient-btn{
    font-size: 14px!important;
}

@keyframes rot {
    0% {
        transform: rotate( 0deg)
    }
    
    1% {
        transform: rotate( 3.6deg)
    }
    
    2% {
        transform: rotate( 7.2deg)
    }
    
    3% {
        transform: rotate( 10.8deg)
    }
    
    4% {
        transform: rotate( 14.4deg)
    }
    
    5% {
        transform: rotate( 18deg)
    }
    
    6% {
        transform: rotate( 21.6deg)
    }
    
    7% {
        transform: rotate( 25.2deg)
    }
    
    8% {
        transform: rotate( 28.8deg)
    }
    
    9% {
        transform: rotate( 32.4deg)
    }
    
    10% {
        transform: rotate( 36deg)
    }
    
    11% {
        transform: rotate( 39.6deg)
    }
    
    12% {
        transform: rotate( 43.2deg)
    }
    
    13% {
        transform: rotate( 46.800000000000004deg)
    }
    
    14% {
        transform: rotate( 50.4deg)
    }
    
    15% {
        transform: rotate( 54deg)
    }
    
    16% {
        transform: rotate( 57.6deg)
    }
    
    17% {
        transform: rotate( 61.2deg)
    }
    
    18% {
        transform: rotate( 64.8deg)
    }
    
    19% {
        transform: rotate( 68.4deg)
    }
    
    20% {
        transform: rotate( 72deg)
    }
    
    21% {
        transform: rotate( 75.60000000000001deg)
    }
    
    22% {
        transform: rotate( 79.2deg)
    }
    
    23% {
        transform: rotate( 82.8deg)
    }
    
    24% {
        transform: rotate( 86.4deg)
    }
    
    25% {
        transform: rotate( 90deg)
    }
    
    26% {
        transform: rotate( 93.60000000000001deg)
    }
    
    27% {
        transform: rotate( 97.2deg)
    }
    
    28% {
        transform: rotate( 100.8deg)
    }
    
    29% {
        transform: rotate( 104.4deg)
    }
    
    30% {
        transform: rotate( 108deg)
    }
    
    31% {
        transform: rotate( 111.60000000000001deg)
    }
    
    32% {
        transform: rotate( 115.2deg)
    }
    
    33% {
        transform: rotate( 118.8deg)
    }
    
    34% {
        transform: rotate( 122.4deg)
    }
    
    35% {
        transform: rotate( 126deg)
    }
    
    36% {
        transform: rotate( 129.6deg)
    }
    
    37% {
        transform: rotate( 133.20000000000002deg)
    }
    
    38% {
        transform: rotate( 136.8deg)
    }
    
    39% {
        transform: rotate( 140.4deg)
    }
    
    40% {
        transform: rotate( 144deg)
    }
    
    41% {
        transform: rotate( 147.6deg)
    }
    
    42% {
        transform: rotate( 151.20000000000002deg)
    }
    
    43% {
        transform: rotate( 154.8deg)
    }
    
    44% {
        transform: rotate( 158.4deg)
    }
    
    45% {
        transform: rotate( 162deg)
    }
    
    46% {
        transform: rotate( 165.6deg)
    }
    
    47% {
        transform: rotate( 169.20000000000002deg)
    }
    
    48% {
        transform: rotate( 172.8deg)
    }
    
    49% {
        transform: rotate( 176.4deg)
    }
    
    50% {
        transform: rotate( 180deg)
    }
    
    51% {
        transform: rotate( 183.6deg)
    }
    
    52% {
        transform: rotate( 187.20000000000002deg)
    }
    
    53% {
        transform: rotate( 190.8deg)
    }
    
    54% {
        transform: rotate( 194.4deg)
    }
    
    55% {
        transform: rotate( 198deg)
    }
    
    56% {
        transform: rotate( 201.6deg)
    }
    
    57% {
        transform: rotate( 205.20000000000002deg)
    }
    
    58% {
        transform: rotate( 208.8deg)
    }
    
    59% {
        transform: rotate( 212.4deg)
    }
    
    60% {
        transform: rotate( 216deg)
    }
    
    61% {
        transform: rotate( 219.6deg)
    }
    
    62% {
        transform: rotate( 223.20000000000002deg)
    }
    
    63% {
        transform: rotate( 226.8deg)
    }
    
    64% {
        transform: rotate( 230.4deg)
    }
    
    65% {
        transform: rotate( 234deg)
    }
    
    66% {
        transform: rotate( 237.6deg)
    }
    
    67% {
        transform: rotate( 241.20000000000002deg)
    }
    
    68% {
        transform: rotate( 244.8deg)
    }
    
    69% {
        transform: rotate( 248.4deg)
    }
    
    70% {
        transform: rotate( 252deg)
    }
    
    71% {
        transform: rotate( 255.6deg)
    }
    
    72% {
        transform: rotate( 259.2deg)
    }
    
    73% {
        transform: rotate( 262.8deg)
    }
    
    74% {
        transform: rotate( 266.40000000000003deg)
    }
    
    75% {
        transform: rotate( 270deg)
    }
    
    76% {
        transform: rotate( 273.6deg)
    }
    
    77% {
        transform: rotate( 277.2deg)
    }
    
    78% {
        transform: rotate( 280.8deg)
    }
    
    79% {
        transform: rotate( 284.40000000000003deg)
    }
    
    80% {
        transform: rotate( 288deg)
    }
    
    81% {
        transform: rotate( 291.6deg)
    }
    
    82% {
        transform: rotate( 295.2deg)
    }
    
    83% {
        transform: rotate( 298.8deg)
    }
    
    84% {
        transform: rotate( 302.40000000000003deg)
    }
    
    85% {
        transform: rotate( 306deg)
    }
    
    86% {
        transform: rotate( 309.6deg)
    }
    
    87% {
        transform: rotate( 313.2deg)
    }
    
    88% {
        transform: rotate( 316.8deg)
    }
    
    89% {
        transform: rotate( 320.40000000000003deg)
    }
    
    90% {
        transform: rotate( 324deg)
    }
    
    91% {
        transform: rotate( 327.6deg)
    }
    
    92% {
        transform: rotate( 331.2deg)
    }
    
    93% {
        transform: rotate( 334.8deg)
    }
    
    94% {
        transform: rotate( 338.40000000000003deg)
    }
    
    95% {
        transform: rotate( 342deg)
    }
    
    96% {
        transform: rotate( 345.6deg)
    }
    
    97% {
        transform: rotate( 349.2deg)
    }
    
    98% {
        transform: rotate( 352.8deg)
    }
    
    99% {
        transform: rotate( 356.40000000000003deg)
    }
    
    100% {
        transform: rotate( 360deg)
    }}